* { 
    margin:0;
    box-sizing: border-box; 
}

body { 
    margin: 0px; 
    padding: 0%; 
    background-color: #1A1B41; 
    color: #ffffff; 
}

header {
    margin: 15px;
    margin-top: 15px; 
    height: 15vh; 
    padding: 20px; 
    box-sizing: border-box;
    background-color: #470FF4;
}

h1 {
    margin-bottom: 15px;
    color:#FF3A20
}

h2 {
    margin: 5px;
    padding: 5px; 
    color: #CE2D4F;
}

h3 {
    color: #1A1B41;
}

hr {
    margin-left: 5px;  
    margin-right: 5px; 
}

main {
    width: 100%;
    margin: auto;
    padding: 10px;  
    color: #ffffff;
}

section { 
    p {
    padding: 10px; 
    color: #ffffff;
    }
}

section div {
    margin: 10px;
    padding: 10px;  
    background-color: #4056F4;
}

section h4 ~ p {
    width: 600px;
    padding: 10px; 
}

section h4 {
    margin-top: 10px;
    color: #FF3A20;
}

ul, ol {
    margin-left: 30px;
    padding: 5px;  
    color: #bbc7ce;
}

#playlist h2 {
    width: 100%;
    margin: auto;
    padding: 10px;  
    color: #BAFF29;
}

#location h2 {
    width: 100%;
    margin: auto;
    padding: 10px;  
    color: #FFC600;
}

section:has(iframe) {
    div {
    margin: 10px;
    padding: 10px;  
    }
}

.final h2 + p {
    margin-bottom: 5px;
    color:#CE2D4F
}